<template>
  <div class="about pa-6">
    <h1>About Vuetify Todo</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex atque libero
      esse dignissimos natus iste adipisci, accusantium, eligendi veniam labore
      similique dolorum porro explicabo magni a quibusdam hic, quas tempore?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex atque libero
      esse dignissimos natus iste adipisci, accusantium, eligendi veniam labore
      similique dolorum porro explicabo magni a quibusdam hic, quas tempore?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex atque libero
      esse dignissimos natus iste adipisci, accusantium, eligendi veniam labore
      similique dolorum porro explicabo magni a quibusdam hic, quas tempore?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex atque libero
      esse dignissimos natus iste adipisci, accusantium, eligendi veniam labore
      similique dolorum porro explicabo magni a quibusdam hic, quas tempore?
    </p>
  </div>
</template>
